body,html{
	background-color: #CCC;
	margin: 0px;
	padding: 0px;

}
.wraps{
	margin: 20px;
	padding: 20px;
	background-color: #FFFFFF;
	border-right: 2px outset #CCC;
	border-bottom: 2px outset #CCC;
	border-left: 1px solid #B8B8B8;
	border-top: 1px solid #B8B8B8;
}
/*设置顶栏*/
.top{
	background-color: #383838;
	height: 60px;
}
.top ul{
	margin:0px;
}
.top li{
	float:right;
	margin: 20px 10px;
}
.top li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px ;
}
/*设置图片*/
img{
	width: 400px;
	height: 600px;
}
.wrimg img{
	padding: 20px;
	height: 100px;
	width: 80px;
}
#wrap2 ul,#wrap3 ul{
	list-style: none;
}
#wrap3 ul li div{
	border: 1px solid #CCC;
	padding: 10px;
	margin: 15px;
	width: 100px;
	height: 150px;
	text-align: center;
}
#wrap4 ol li{
	font-weight: bolder;
}
#inner_table{
	width: 100%;
	font-size: 15px;
	font-weight: bolder;
	border: 1px solid #CCC;
	border-spacing: 0px;
}
#inner_table thead{
	background-color: black;
	color: white;
}
#inner_table tfoot{
	background-color: #CCC;
}
#inner_table td{
	border: 1px solid #CCC
}
#wrap5>div {
	margin-left: 300px;
}
