body,html{
	background-color: #CCC;
	margin: 0px;
	padding: 0px;

}
.wraps{
	margin: 20px;
	padding: 20px;
	background-color: #FFFFFF;
	border-right: 2px outset #CCC;
	border-bottom: 2px outset #CCC;
	border-left: 1px solid #B8B8B8;
	border-top: 1px solid #B8B8B8;
	width: 65%;
}
/*设置顶栏*/
.top{
	background-color: #383838;
	height: 60px;
}
.top ul{
	margin:0px;
}
.top li{
	float:right;
	margin: 20px 10px;
}
.top li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px ;
}
/*设置图片*/
img{
	width: 400px;
	height: 600px;
}
.wrimg img{
	padding: 20px;
	height: 150px;
	width: 120px;
	display: block;
}
body>div:nth-child(3)>ul>li{
	margin: 10px;
}
#wrap2 ul,#wrap3 ul{
	list-style: none;
}
#wrap3 ul li {
	border: 1px solid #CCC;
	padding: 10px;
	margin: 15px;
	text-align: center;
	float: left;
}
body>div:nth-child(4){
	height: 600px;
}
#wrap4 ol li{
	font-weight: bolder;
}
#inner_table{
	width: 100%;
	font-size: 15px;
	font-weight: bolder;
	border: 1px solid #CCC;
	border-spacing: 0px;
}
#inner_table thead{
	background-color: black;
	color: white;
}
#inner_table tfoot{
	background-color: #CCC;
}
#inner_table td{
	border: 1px solid #CCC
}
#wrap5{
	position: absolute;
	top: 60px;
	right: 0;
	width: 25%;
}
footer{
	width: 100%;
	background-color: black;
	height: 20px;
	font-size: 12px;
	padding: 20px;
	color: white;
	text-align: center;
}
#wrap5>div>label{
	float: left;
	width: 35%;
	text-align: right;
	margin-right: 20px;
}
#wrap5>div{
	margin: 10px;
}
#wrap5>p{
	padding-left: 190px;
}
body>div:nth-child(6)>div>textarea{
	width: 270px;
	height: 100px;
}
body>div:nth-child(6)>button{
	width: 100%;
	border-radius: 10px;
	background-color: #3333CC;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 10px;
}