body {
    margin: 0;
    background: #fff;
}
#wa-common-header div,
#wa-common-header p, 
#wa-common-footer div,
#wa-common-footer p {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

#wa-common-header,
#wa-common-footer {
    min-width: 980px;
}
#wa-common-footer nav.wolfram-alpha li:nth-child(4)::after,
#wa-common-footer nav.wolfram-alpha li:nth-child(5)::after,
#wa-common-footer nav.wolfram-alpha li:nth-child(6)::after,
#wa-common-footer nav.wolfram-alpha li:nth-child(9)::after,
#wa-common-footer nav.wolfram-alpha li:nth-child(10)::after,
#wa-common-footer nav.wolfram li:nth-child(2)::after,
#wa-common-footer nav.wolfram li:nth-child(3)::after,
#wa-common-footer nav.wolfram li:nth-child(4)::after {
    display: inline;
}
#wa-common-footer nav.wolfram-alpha li:nth-child(7)::after {
    display: none;
}
#wa-common-footer nav.wolfram-alpha,
#wa-common-footer nav.wolfram ul {
    max-width:48em;
}
#wa-common-footer {
    margin-top: 4em;
}
#wa-common-header h1 {
    margin-left: 0.5em;
}
#wa-common-header .menu-toggle, #wa-top-overlay.overlay-shown {
    display: none;
}
#wa-common-header ul.main-nav,
#wa-common-header ul.main-nav li {
    display: inline-block;
    border: none;
    vertical-align: middle;
}
#wa-common-header ul.main-nav {
    float: right;
    margin-right: 25px;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
}
#wa-common-header ul.main-nav li {
    padding: 5px 0;
}
#wa-common-header ul.main-nav > li:not(:last-child) {
	margin-right: -1px;
}
#wa-common-header ul.main-nav > li:nth-child(1) {
	margin-right: -2px;
}
#wa-common-header ul.main-nav li.oauth {
   	background-image: none;
  	padding: 9px 2px 5px 2px;
  	margin: 0 -13px 0 5px;
   	font-size: 14px;
   	position: relative;
   	display: inline-block;
}
#wa-common-header ul.main-nav li a {
    font-size: 0.875em;
    padding: 0 0.8571em;
    line-height: 2.2857143;
}
#wa-common-header ul.main-nav li a.icon-apps::before {
	display: inline;
}
#wa-common-header ul.main-nav li a.icon-pro:after,
#wa-common-header ul.main-nav li a.icon-apps:after {
	display: none;
}
#wa-common-header ul.main-nav li.oauth .sign-in {
    background-color: #FFF;
    color: #FF7E00;
    border: 1px solid #FF7E00;
    border-radius: 0.15385em;
    margin: -5px 8px 0 0px;
    padding: 0 0.7692em;
    width: auto;
    font-size: 13px;
    font-family: inherit;
    text-transform: none;
    line-height: 2;
}
#wa-common-header ul.main-nav li.oauth .sign-in:hover, 
#wa-common-header ul.main-nav li.oauth .sign-in:active {
    color: #fff;
    background-color: #ffa32c;
} 
#wa-common-header ul.main-nav li.oauth .sign-in:active {
    background-color: #FF7E00;
}

#wa-common-header ul.main-nav li.oauth.not-signed-in .signed-in {
    display: none;
}

#wa-common-header ul.main-nav li.oauth.signed-in .signed-in {
	display: inline-block;
    background: transparent;
    width: auto;
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
#wa-common-header ul.main-nav li .signed-in .icon-user-email {
    position: relative;
    max-width: 176px;
    padding-left: 18px;
    padding-right: 31px;
    height: 18px;
    line-height: 1;
    white-space: nowrap;
}
#wa-common-header ul.main-nav li .signed-in .icon-user-email:before {
    color: #8d8d8d;
    font-size: 11px;
    margin-left: -9px;
    margin-right: 3px;
    content: "\e61a";
    width: 12px;
}
#wa-common-header ul.main-nav li .signed-in .icon-user-email:after {
	color: #8d8d8d;
}
#wa-common-header ul.main-nav li .signed-in .icon-user-email:after,
#wa-common-header ul.main-nav li .signed-in.shown .icon-user-email:after {
	content: "\e900";
   	font-size: 6px;
   	top: 5px;
   	right: 17px;
}
#wa-common-header ul.main-nav ul {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(10,11,11,.3);
    border-radius: 0.25em;
    right: 28px;
    width: 130px;
    box-sizing: border-box;
    top: 36px;
}
#wa-common-header ul.main-nav li a.shown + ul.pro-menu{
	display: none;
}
#wa-common-header ul.main-nav li a.icon-pro.shown {
	color: #535353;
}
#wa-common-header ul.main-nav li a.icon-pro.shown:hover {
	color: #ff7e00;
}
   #wa-common-header ul.main-nav ul.apps-menu {
	display: none;
	width: 230px;
	padding: 0;
	left: -121px;
}
#wa-common-header ul.main-nav ul.apps-menu li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0 0 0 75px;
}
#wa-common-header ul.main-nav ul.apps-menu li a:before {
   	content: "";
   	position: absolute;
   	left: 18px;
   	background-repeat: no-repeat;
}
#wa-common-header ul.main-nav ul.apps-menu li a.web-apps-link:before {
	width: 36px;
   	background-image: url(//www.wolframcdn.com/banner/web-apps.svg);
   	height: 41px;
   	top: 13.5px;
}
#wa-common-header ul.main-nav ul.apps-menu li a.wpg-link:before {
	width: 39px;
   	background-image: url(//www.wolframcdn.com/banner/wpg.svg);
   	height: 35px;
   	top: 16.5px
}
#wa-common-header ul.main-nav ul.apps-menu li a.mobile-apps-link:before {
	width: 44px;
   	background-image: url(//www.wolframcdn.com/banner/mobile-apps.svg);
   	height: 32px;
   	top: 18px;
}
#wa-common-header ul.main-nav ul.apps-menu li a.all-products-link:after {
	content: " \00BB";
}
#wa-common-header ul.main-nav ul.apps-menu li:not(:last-child) {
   	border-bottom: 1px solid #d1d1d1;
   	height: 67px;
   	margin-right: 0;
}
#wa-common-header ul.main-nav ul.apps-menu li:not(:last-child) a {
	font-size: 15px;
	line-height: 67px;
}
#wa-common-header ul.main-nav ul.apps-menu li:last-child {
	height: 37px;
}
#wa-common-header ul.main-nav ul.apps-menu li:last-child a {
	text-transform: uppercase;
	color: #777777;
	font-size: 12px;
	letter-spacing: 0.04em;
	line-height: 37px;
}
#wa-common-header ul.main-nav ul.apps-menu li:last-child a:hover {
	color: #ff7e00;
}
#wa-common-header ul.main-nav ul.user-menu div {
    padding: 7px 0;
}
#wa-common-header ul.main-nav ul.user-menu div:not(:last-child) {
	border-bottom: 1px solid #d1d1d1;
}
#wa-common-header ul.main-nav ul li {
    display: block;
    padding: 0;
}
#wa-common-header ul.main-nav ul li a {
    font-size: 13px;
    padding: 6px 25px;
    line-height: 1;
}
#wa-common-footer nav.wolfram-alpha a ul.connect-icons {
    display: inline-block;
}
#wa-common-footer nav.wolfram ul {
    max-width: none;
}
#wa-common-footer nav.wolfram h2,
#wa-common-footer nav.wolfram ul {
    display: inline-block;
    vertical-align: bottom;
    margin: 16px 0 0;
}
#wa-common-footer nav.wolfram h2 {
    padding: 1.5px 0;
    margin-left: 6px;
    position: relative;
    top: -1px;
}
#wa-common-footer nav.wolfram h2 a {
    padding-right: 0.435em;
}
#wa-common-header form.input {
    display: inline-block;
}
#wa-common-header ul.main-nav li.oauth .sign-in {
        background-color: #FFF;
        color: #FF7E00;
        border: 1px solid #FF7E00;
        border-radius: 0.15385em;
        margin: -5px 8px 0 0px;
        padding: 0 0.7692em;
        width: auto;
        font-size: 13px;
        font-family: inherit;
        text-transform: none;
        line-height: 2;
}
#wa-common-header ul.main-nav li.oauth .sign-in:hover,
#wa-common-header ul.main-nav li.oauth .sign-in:active {
    color: #fff;
    background-color: #ffa32c;
}
#wa-common-header ul.main-nav li.oauth .sign-in:active {
    background-color: #FF7E00;
}
#wa-common-header ul.main-nav li.oauth .signed-in {
    padding: 0;
    margin: -4px -6px 0 0;
    background: transparent;
    width: auto;
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
#wa-common-header ul.main-nav li .signed-in.icon-user-email {
    position: relative;
    max-width: 176px;
    padding-left: 18px;
    padding-right: 31px;
    height: 18px;
    line-height: 1;
    white-space: nowrap;
}
#wa-common-header ul.main-nav li .signed-in.icon-user-email:before {
    color: #8d8d8d;
    font-size: 11px;
    margin-left: -9px;
    margin-right: 3px;
    content: "\e61a";
    width: 12px;
}
#wa-common-header ul.main-nav li .signed-in.icon-user-email:after {
    color: #8d8d8d;
}
#wa-common-header ul.main-nav li .signed-in.icon-user-email:after,
#wa-common-header ul.main-nav li.oauth.shown .signed-in.icon-user-email:after {
    content: "\e900";
    font-size: 6px;
    top: 7px;
    right: 17px;
}
