body{
    background-color:#a7a7a7;
}
.one-1{
    padding:10px;
    margin:25px;
    color:#000000;
    font-size:20px;
    background-color:#ffffff;
}
#table-1{
    border-collapse:collapse;
    border:none;
}
#table-1 td{
    padding:5px;
    border:2px solid #000000;
}
#table-1 th{
    padding:5px;
    border:2px solid #000000;
    background-color:#a7a7a7;
}
table td{
    padding:10px;
}
.title{
    padding:2px;
    border-left:3px solid #a7a7a7;
}
span{
    color:#a7a7a8;
}