@font-face {
    font-family: 'Lexia';
    src: url('Lexia_W_Lt.eot');
    src: url('Lexia_W_Lt.eot?#iefix') format('embedded-opentype'),
         url('Lexia_W_Lt.woff') format('woff');
    font-weight: normal;
    font-style: 300;
}