@charset "utf-8";
/* CSS Document */
#main {
	position:absolute;
	width:400px;
	height:200px;
	background:#ccc;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#left{
	position:relative;
	background:#fc0;
	width:50px;
	height:50px;
	border-radius: 0 0 50px 0;
	
}
#right{
	position:relative;
	background:#fc0;
	width:50px;
	height:50px;
	border-radius:50px 0 0 0;
	left:350px;
	top:100px;
}