body,html{
    padding:0;
    margin:0;
    outline:0;
    border:0;
    background-color: #dedede;
}
header,footer{
    background-color:#00000a;
    height:60px;
    width:100%;
    vertical-align: middle;
    color:#fff;
}
header>img{
    height:50px;
    width:120px;
    margin-left:20px;
}
header>ul{
    left:5px;
    font-size:18px;
    display:inline-block;
    float:right;
}
header>ul>li{
    display:inline;
}
footer>span{
    display:inline-block;
    margin:20px auto;
}
footer{
    text-align: center;
}
#body{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
}
article{
    margin:10px;
    flex-shrink:1;
}
article>div{
    background-color:#fff;
    margin-bottom: 10px;
    padding:20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content: center;
}
aside{
    margin:10px;
    flex-shrink:0;
    width:370px;
    background-color:#fff;
}
aside>table td{
    padding:10px;
}
.title{
    padding:2px;
    border-left:3px solid #a7a7a7;
}
span{
    color:#a7a7a8;
}