* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 微软雅黑;
    background: #dedede;
    line-height: 170%;
}

aside {
    float: right;
    width: 350px;
    margin: 20px;
    padding: 30px;
    background: #FFFFFF;
}

#zhuce {
    border-left: 4px solid #ccc;
    padding-left: 10px;
    font-weight: bold;
    font-size: 22px;
}

.mainHeader{
    height: 70px;
    background: #333;
}

.mainHeader img{
    width: 60px;
    height: 50px;
    padding-left: 40px;
    padding-top: 10px;
}

.mainNav{
    float: right;
}

.mainNav li{
    text-align: center;
    float: left;    
    width: 110px;
    line-height: 70px;
}

.mainNav a{
    text-decoration: none;
    color: whitesmoke;
}

.mainNav a:visited{
    color: gray;
}

.pictures, article {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 30px;
    overflow: auto;
}

figure {
    border: 1px solid #737270;
    margin: 20px;
    width: 140px;
    height: 120px;
    padding:0 10px 5px 10px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

figcaption {
    display: block;
    padding: 5px;
}

h3 {
    color: #73746c;
}

.author, .aTime {
    color: #737270;
}

aside h3 {
    color: #000000;
}

section p{
    text-indent: 20px;  /*首行缩进*/
}

article li {
    margin: 5px 40px;
}

.stuTable {
    width: 50%;
    border: 1.5px;
    border-color: #e6e6e6;
    border-style: solid;
    border-collapse:collapse;  /*表示表格的两边框合并为一条*/
}

.stuTable td, .stuTable th {
    text-align: left;
    border: 1px solid #e6e6e6;
}

.stuTable th {
    background-color: #333333;
    color: #FFFFFF;
}

aside .form {
    line-height: 40px;
}

.record {
    width: 120px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;  /*设置元素的垂直对齐方式*/
}

#descTxt {
    vertical-align: text-top;
    margin-bottom: 20px;
    width: 50%;
    height: 100px;
}

.tip {
    font-size: 15px;
    color: gray;
    margin-left: 130px;
}

#submitBtn {
    color: #e8ecef;
    font-size: 15px;
    background-color: #3355D0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    font-family: 思源黑体 CN;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #000000;
    color: #e8ecef;
    font-size: 15px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
}

/*下拉菜单*/
li>a:hover/*子元素选择器*/, .dropdown:hover .dropbtn{
    background: black;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    text-align: center;
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}
