@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
[class*='col-']{
	float:left;
}
span{
	display:block;
	background:#eee;
	margin:10px 10px;
	height:50px;
	border:#999 1px solid;
}
@media (min-width: 769px) {
	.col-md-1{
	    width:8.333333%;
	}
	.col-md-2{
		width:16.666667%;
	}
	.col-md-3{
		width:25%;
	}
	.col-md-4{
		width:33.333333%;
	}
	.col-md-5{
		width:41.6666667%;
	}
	.col-md-6{
		width:50%;
	}
	.col-md-7{
		width:58.333333%;
	}
	.col-md-8{
		width:66.666667%;
	}
	.col-md-9{
		width:75%;
	}
	.col-md-10{
		width:83.333333%;
	}
	.col-md-11{
		width:91.666667%;
	}
	.col-md-12{
		width:100%;
	}
}
@media(max-width:768px){
	.col-sm-1{
	    width:8.333333%;
	}
	.col-sm-2{
		width:16.666667%;
	}
	.col-sm-3{
		width:25%;
	}
	.col-sm-4{
		width:33.333333%;
	}
	.col-sm-5{
		width:41.6666667%;
	}
	.col-sm-6{
		width:50%;
	}
	.col-sm-7{
		width:58.333333%;
	}
	.col-sm-8{
		width:66.666667%;
	}
	.col-sm-9{
		width:75%;
	}
	.col-sm-10{
		width:83.333333%;
	}
	.col-sm-11{
		width:91.666667%;
	}
	.col-sm-12{
		width:100%;
	}
}
	